<nav class="second">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Links</a></li>
    <li><a href="/clubs/create">New Works</a></li>
    
  </ul>
  <%- include("search_p.ejs") %>

  
</nav>