<!-- about page -->

<%- include('partials/header'); -%>


<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p>This site is form my portifolio.</p>
    <p>It is just a non commertial site mad efor training purpose.</p>
    
  </div>

</body>
<%- include('partials/footer'); -%>